/* Votre Style */
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
@CHARSET "UTF-8";

/* Font-face Tempo */
@font-face{
    font-family : "SourceRegular";
    src : url('fonts/SourceSansPro-Regular.otf');
}

@font-face{
    font-family : "SourceSemi";
    src : url('fonts/SourceSansPro-Semibold.otf');
}

@font-face{
    font-family : "SourceLight";
    src : url('fonts/SourceSansPro-Light.otf');
}

@font-face{
    font-family : "SourceIt";
    src : url('fonts/SourceSansPro-It.otf');
}

@font-face{
    font-family : "SourceBold";
    src : url ('fonts/SourceSansPro-Bold.otf');
}

@font-face{
    font-family : "SourceBla";
    src : url('fonts/SourceSansPro-Black.otf');
}


/* Font-face Tempo */

body{
    font-family: SourceRegular, sans-serif;
    font-size:17px; 	
    background-color: #ebefee;  
  

}
article {
	border-bottom:1px dashed #444;
	margin:0.1em;
	padding:1em;
    
}
aside {
	border:1px dashed #444;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


footer { 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    border-top: 1Opx solid #ffd0aa;
    background-color: #ffd0aa;
    height: 50px;
    text-align: center;
    color:#FFF;
   padding-top:10px;
}
footer a {
    color: #FFF;
    text-decoration: none;
    
}

footer a:hover {
    color: #595f6d;
    text-decoration: none;
   
    
} 

header {
    background-color: #f8903b ;
    position: absolute; 
    left: 0; 
    right: 0;
    top:0;
	padding-left:30px;
	border-bottom:10px solid #ffd0aa;
    box-shadow: 1px 1px 12px #555;
}


a{
	text-decoration: none;
	color: rgb(58,119,146);
	font-weight: bold;
}
a:visited{
	color:#FFF;
}
/*p{
	font-family: SourceSemi;
	font-size: 14px;
	line-height:17px;
	color: #676E7F;	
	padding:10px;
	background-color:#FFF;
	}*/
	
p{
	font-family: SourceBo;
	font-size:15px;
		
}

#TabIndex{
	font-size:14px;
	color:#8992a9;
	margin-bottom:30px;	
}

.foot{
 color : white;
}

#titrePop {
font-family: SourceBla;  
font-size:20px;  
color: #F79256;
margin-bottom: 20px;
text-align:center;
display:inline-bock;
}



h3 {
font-family: SourceSemi;    
color: #F79256;
margin-bottom: 20px;
}

h4 {
font-family: SourceSemi;    
color: #F79256;
margin-top: 10px;
margin-bottom: 10px;
font-size:13px;

}


#good {
font-family: SourceSemi;    
color: #F79256;
margin-bottom: 10px;
font-size:15px;
}

input {
    font-size: 15px;
    margin-bottom: 20px;
}


.btnIndex{
	margin-left: -10px;
	margin-top: 27px;
	font-family: SourceBla;
	font-size:15px;
	text-shadow: 1px 2px 1px rgba(0,0,0,.25);
	color:white;
}
#test1{
	font-family: SourceSemi;
	font-size:20px;
}
#test2{
	font-family: SourceIt;
	font-size:20px;
}


nav ul li {
	display:inline-block;
}


#main {
    display: table;
    margin: 150px auto 150px auto;
    width:80%;
    
}

.blcRight {
    color:#FFF;
    float: right;
    margin: 40px 20px;
}

#secCentr{
    display: inline-block;
    vertical-align: top;
    width:100%;
        
}

#secCentrRight{
    display: inline-block;
    vertical-align: top;
        
}

#secCentrMaps{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left:40px;
    width:300px;
    float:inherit;
}

#secCentrPostes{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left:40px;
    width:300px;
}


#secCentrForm{
    margin-top: -308px;
    margin-left: 300px;
}

#secCentrForm input{
    height: 100%;
    background-color:#FFF;
    margin-left: 20px;
}


label{
	display: inline-block; /* La balise devient de type block. */
	width: 100px;
	font-size:17px;
	color:#595f6d;
}


.artLeft {
    display: inline-block;
    width: 338px;
    margin-right: 10px;
    background-color:white;
    
}

.artLeftSites {
    display: inline-block;
    width: 340px;
    margin-right: 10px;
    padding: 0 0 0 10px;
    background-color: white;
    
}

.artLeftUsagers{
    display: inline-block;
    width: 190px;
    margin-right: 10px;
    padding: 0 0 0 10px;
    overflow-y: scroll;
    height: 300px;
}

#secRight {
    display: inline-block;
    float: right;
    vertical-align: top;
}



/*Salles*/
#showSalles{
	font-size: 15px;
	font-family: SourceBla;
	color: #595f6d;
}

#salleok{
	display: inline-block;
	margin : 0px 0px 0px 42px;	
}

#infoSites{
	border-top : 1px solid #595f6d;
	margin-top:20px;
	text-align:center;
	color:#595f6d;
	font-size:15px;
}

.clickSalles{
	background:url(../img/salles-spri.png) 0 0 no-repeat;
	width:64px;
	height:64px;
	display: block;	
}

.clickSalles:hover,#editorial:active,#editorial:focus{
  background-position:-63.5px 0px;
  cursor:pointer;
}


iframe {
    display: inline-block;
    float: right;
    vertical-align: top;
}

#logo {
	width :200px;
    margin-top: 5px;
}

.ordi {
    width: 50px;
}

#ordi {
   background-image: url(../img/icono/ordi4.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    padding: 0;
    display: inline-block;
}

#titrePage {
    font-family: "SourceBla", sans-serif;
    font-size: 2em;
    color: #595f6d;
    margin-bottom: 20px;  
    border-bottom: 1px solid #595f6d;
    padding-bottom:20px; 
    width:103.5%; 
}

.btn3{
border: 0;
background: #e33100 url(img/overlay.png) repeat-x;
display: inline-block;
padding: 7px 12px 8px;
color: #fff;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
box-shadow: 0 1px 3px rgba(0,0,0,.3);
border-bottom: 1px solid rgba(0,0,0,.25);
position: relative;
cursor: pointer;}

.btn3, .btn3:visited, .medium.btn3, .medium.btn3:visited {
font-weight: 700;
line-height: 1;
text-shadow: 0 -1px 1px rgba(0,0,0,.25);
}

.red.btn3, .red.btn3:visited {
background-color: #e33100;}


.btn4{
border: 0;
background: #595f6d url(img/overlay.png) repeat-x;
display: inline-block;
padding: 7px 12px 8px;
color: #fff;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
box-shadow: 0 1px 3px rgba(0,0,0,.3);
border-bottom: 1px solid rgba(0,0,0,.25);
position: relative;
cursor: pointer;}

.btn4, .btn4:visited, .medium.btn4, .medium.btn4:visited {
font-weight: 700;
line-height: 1;
text-shadow: 0 -1px 1px rgba(0,0,0,.25);
}



/*Poste - Salle*/

#poste{
width: 100%;

}

#posteok{
display: inline-block;
font-size: 12px;
font-family:"SourceLight";
margin: 10px;
color: #595f6d;

}

.poste{
	background:url(../img/cpu-spri.png) 0 0 no-repeat;
	width:64px;
	height:64px;
	display: inline-block;	
}

.poste:hover,#editorial:active,#editorial:focus{
  background-position:-63.5px 0px;
  cursor:pointer;
}

.libel{
	font-family:SourceBold;
	font-size: 14px;
	
}

.libelHide{
	visibility:hidden;
}

.typoTabPoste{
	font-size:14px;
	margin-bottom:20px;
	color:#595f6d;
	font-family:SourceBla;
}

/*Site*/

#site{
width: 105%;

}

#siteok{
display: inline-block;
font-size: 12px;
font-family:"SourceLight";
margin: 16px;
color: #595f6d;

}

.imgSites{
background: url("/img/sitesGps.png") 0 0 ;
width:64px;
height:64px;
padding:0;
}

/* <img src="img/responsive-mobile-icon-set/cold/png/64/gps.png">*/   

.libelSites{
font-family: "SourceBla";
}

.clickSites{
	background:url(../img/sitesGps.png) 0 0 no-repeat;
	width:64px;
	height:64px;
	display : block;	
}

.clickSites:hover,#editorial:active,#editorial:focus{
  background-position:-63.5px 0px;
  cursor:pointer;
}

/*Postes*/
/* POUR LE PLANNING DES POSTES*/
#planningPoste {
	vertical-align : top;
	display : inline-block;
	height: 250px;
}
#planning table td{
	border : solid 1px black;
}
.tableTime {
	padding : 5px;
	color : gray;
}

.tableTimeOQP {
	background-color: red;
}

.tableTimeLibre:hover {
	background-color: lightgreen;
}
#nomSallePoste {
	border-bottom: 1px solid #7f889c;
	padding-bottom:10px;
}


.libelHaut{
margin-left:15px;
	font-family:SourceIt;
	font-size:14px;
	color: #7f889c;
	
}
#dialog.nomModalPoste{
	font-size:15px;
	color:#f8903b;
}
/*Usagers*/

#formulaireUsagers {
	/*margin-top:150px;*/
	width:400px;
	height:600px;
	margin:150px auto;
	
}

#usagersForm{
width: 100%;

}

#usagersok {
display: inline-block;
font-size: 12px;
font-family:"SourceLight";
margin: 10px;
color: #595f6d;

}
.libelUsagers{
font-family: "SourceBla";
    font-size: 15px;
}

#formulaireUsagers{
	display:inline-block;
	margin: auto 20px auto 40px ;
	vertical-align:top;
	
}
#usagersDteExpli{
	display:inline-block;
	width:300px;
	height:394px;
	
}

#usagersDteExpli p{
	font-family: SourceSemi;
	font-size: 14px;
	line-height:17px;
	color: #676E7F;	
	padding:10px;
	background-color:#FFF;
}
#usagersDteExpli .titrePara{
	font-family: SourceIt;
	font-size:18px;
	color:#676E7F;
	border-bottom:1px solid #676E7F;
	
}



/*Tableau*/
.TableauSelect {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.TableauSelect table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.TableauSelect tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.TableauSelect table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.TableauSelect table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.TableauSelect tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.TableauSelect tr:hover td{
	
}
.TableauSelect tr:nth-child(odd){ background-color:#ffd0aa; }
.TableauSelect tr:nth-child(even)    { background-color:#ffffff; }.TableauSelect td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:19px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#595f6d;
}.TableauSelect tr:last-child td{
	border-width:0px 1px 0px 0px;
}.TableauSelect tr td:last-child{
	border-width:0px 0px 1px 0px;
}.TableauSelect tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.TableauSelect tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
	color:#595f6d;
}
.TableauSelect tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
}
.TableauSelect tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.TableauSelect tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* Fil ariane*/
#ariane{
  overflow: hidden;
  width: 100%;
}

#ariane li{
  float: left;
  margin: 0 .5em 0 1em;
}

#ariane a{
  background: #ffd0aa;
  padding: .5em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}

#ariane a:hover{
  background: #efc9ab;
}

#ariane a::before,
#ariane a::after{
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #ffd0aa;
  transform: skew(1deg);  
}

#ariane a::before{

  left: -.5em;
  border-radius: 5px 0 0 5px;
}

#ariane a:hover::before{
  background: #efc9ab;
}

#ariane a::after{
  right: -.5em;   
  border-radius: 0 5px 5px 0;
}

#ariane a:hover::after{
  background: #efc9ab;
}

#ariane.current,
#ariane.current:hover{
  font-weight: bold;
  background: none;
background-color: red;
}

#ariane.current::after,
#ariane.current::before{
  content: normal;
}
/*Pop-up*/
#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 10px solid #ffd0aa;
	float: left;
	font-size: 1.2em;
	position: absolute;
	top: 90px; 
	margin:auto;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#basPop{
	margin-top:20px;
}
img.btn_close {
	float: right;
	margin: -13px -13px 0 0;
}
/*--Gérer la position fixed pour IE6--*/

*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}
#id_cache{display:none;}


/*Statistiques*/

.label{display:inline-block;vertical-align:baseline;margin-top:4px;}
.color-sample{display:inline-block; margin-right :5px;vertical-align: text-top;}
.graph{display:inline-block; vertical-align: top; padding:2px;}

#BtnTelechar{
	display:inline-block;
	font-size:12px;
	float:right;
	vertical-align:top;
	margin-top: -55px;
text-align: center;
}

.btnTele{
background-color:  #162e38;
	border-left: solid 1px #162e38;
	border-right: solid 1px #162e38;
	border-bottom: solid 1px #162e38;
	color:#fff;
    padding: 8px;
    position:relative;
    border-radius: 5px;}


.btnTele:active {
	padding-bottom:7px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	top:1px;
}

#graph1{
	display:inline-block;
	height:400px; 
	width:400px;
	vertical-align:top;
	
}
#graph2{
	display:inline-block;
 	height:300px; 
 	width:400px;
	vertical-align:top;
	margin-left:30px;
}
#graph3{
	display:inline-block;
	height:200px; 
	width:200px; 
	vertical-align:top;
	margin-left:30px;
}

#good {
	display:inline;
	font-family: SourceSemi;    
	color: #FFF;
	margin-bottom: 10px;
	font-size:15px;

}
.userConnected {
	margin-right : -360px;
	margin-top : 60px;
	text-align:right;
	display:inline;
	float:right;
	width : 350px;
	height: 35px;

	color:white;
}
.ui-button-icon-primary.ui-icon.ui-icon-closethick {
	visibility: hidden;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close
{
	visibility: hidden;
}
#dialog{
	text-align:left;
	font-size:18px;
	color: #595f6d;
	}
	
.ui-dialog .ui-dialog-buttonpane{
	margin-right:90px;
	border-widht:0 0 0 0;
}

