 

/* Boutons index*/

.bouton {
	display:inline-block;
	background-color:  #162e38;
	border-left: solid 1px #162e38;
	border-right: solid 1px #162e38;
	border-bottom: solid 1px #162e38;
	color:#fff;
    margin: 9px 20px 20px 20px;
    padding: 30px;
    position:relative;
    border-radius: 5px;
    box-shadow: inset 0px 3px 0px rgba(255,255,255,0.6);
    text-align: center;

}


.bouton:active {
	padding-bottom:29px;
	padding-left:30px;
	padding-right:30px;
	padding-top:31px;
	top:1px;
	width: 75px;


}

.bouton:before {
	background-color:#ebefee;
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	padding:8px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;

	
}

#usagers{
    background-image: linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -o-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(157,198,216)), color-stop(1, rgb(129,182,205)));
	border-left: solid 1px #9dc6d8;
	border-right: solid 1px #9dc6d8;
	border-bottom: solid 1px #9dc6d8;
	height: 75px;
	width: 75px;
    
}

#usagers:active{
    background-image: linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -o-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(129,182,205)), color-stop(1, rgb(157,198,216)));
		

}
#statistiques{
background-image: linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -o-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(58,119,146)),color-stop(1, rgb(73,149,182)));	
	border-left: solid 1px #4995b6;
	border-right: solid 1px #4995b6;
	border-bottom: solid 1px #4995b6;
	height: 75px;
	width: 75px;

}
#statistiques:active{
background-image: linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -o-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, rgb(73,149,182)), color-stop(1, rgb(58,119,146)));	
	width: 75px;
		
}

#employes{
background-image: linear-gradient(bottom, rgb(12,109,178) 0%, rgb(22,46,56) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(12,109,178) 0%, rgb(22,46,56) 100%);
	background-image: -o-linear-gradient(bottom, rgb(12,109,178) 0%, rgb(22,46,56) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(12,109,178) 0%, rgb(22,46,56) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(12,109,178) 0%, rgb(22,46,56) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(12,109,178)),color-stop(1, rgb(22,46,56)));	
	border-left: solid 1px #4995b6;
	border-right: solid 1px #4995b6;
	border-bottom: solid 1px #4995b6;
	height: 75px;
	width: 75px;

}
#employes:active{
background-image: linear-gradient(bottom, rgb(22,46,56) 0%, rgb(12,109,178) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(22,46,56) 0%, rgb(12,109,178) 100%);
	background-image: -o-linear-gradient(bottom, rgb(22,46,56) 0%, rgb(12,109,178) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,46,56) 0%, rgb(12,109,178) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(22,46,56) 0%, rgb(12,109,178) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, rgb(22,46,56)), color-stop(1, rgb(12,109,178)));	
	width: 75px;
		
}


#sites{
	background-image: linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -o-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(247,146,86)), color-stop(1, rgb(245,115,37)));	
	border-left: solid 1px #F79256;
	border-right: solid 1px  #F79256;
	border-bottom: solid 1px  #F79256;
	height: 75px;
	width: 75px;

}


#sites:active{
background-image: linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -o-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, rgb(245,115,37)), color-stop(1, rgb(247,146,86)));		
	width: 75px;
}

/*Boutons pages interieures droite*/

#secRightpages{

display: inline-block;
float: right;
vertical-align: top;
margin-left: 40px;

}

.boutonRight {
	background-color: #162e38;
	border-left: solid 1px #162e38;
	border-right: solid 1px #162e38;
	border-bottom: solid 1px #162e38;
	color:#fff;
    margin: 24px;
    padding: 24px;
    position:relative;
    border-radius: 5px;
    box-shadow: inset 0px 3px 0px rgba(255,255,255,0.6);
    text-align: center;
    width: 75px;
    font-family:SourceBla;
	font-size:0.9em;	
	text-align:center;
	text-shadow: 1.2px 1.2px 1.5px #595f6d;
	cursor:pointer;
    

}

/*
.boutonRight:active {
	padding-bottom:29px;
	padding-left:30px;
	padding-right:30px;
	padding-top:31px;
	top:1px;
	width: 75px;

}*/

.boutonRight:before {
	background-color:#ebefee;
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	padding:8px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}

#usagersRight{
    background-image: linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -o-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(157,198,216) 0%, rgb(129,182,205) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(157,198,216)),color-stop(1, rgb(129,182,205)));
	border-left: solid 1px #9dc6d8;
	border-right: solid 1px #9dc6d8;
	border-bottom: solid 1px #9dc6d8;
    width: 75px;
 
}

#usagersRight:active{
    background-image: linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -o-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(129,182,205) 0%, rgb(157,198,216) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(129,182,205)), color-stop(1, rgb(157,198,216)));
		width: 75px;

}
#statistiquesRight{
background-image: linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -o-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(58,119,146) 0%, rgb(73,149,182) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(58,119,146)), color-stop(1, rgb(73,149,182)));	
	border-left: solid 1px #4995b6;
	border-right: solid 1px #4995b6;
	border-bottom: solid 1px #4995b6;
    width: 75px;
}
#statistiquesRight:active{
background-image: linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -o-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,149,182) 0%, rgb(58,119,146) 100%);
	background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, rgb(73,149,182)), color-stop(1, rgb(58,119,146)));	
	width: 75px;	
}

#sitesRight{
	background-image: linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -o-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(247,146,86) 0%, rgb(245,115,37) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(247,146,86)), color-stop(1, rgb(245,115,37)) );	
	border-left: solid 1px #F79256;
	border-right: solid 1px  #F79256;
	border-bottom: solid 1px  #F79256;
	width: 75px;
}

#sitesRight:active{
background-image: linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -o-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(245,115,37) 0%, rgb(247,146,86) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(245,115,37)), color-stop(1, rgb(247,146,86)));	
	width: 75px;
}

#connexion{
text-align: center;
width: 144px;
height:180px;
display:inline-block;	   
}

#logBtn, #pu, #modifier, #logBtnDeco{
background-color:  #162e38;
	border-left: solid 1px #162e38;
	border-right: solid 1px #162e38;
	border-bottom: solid 1px #162e38;
	color:#fff;
    padding: 8px;
    position:relative;
    border-radius: 5px;
/*    box-shadow: inset 0px 3px 0px rgba(255,255,255,0.6);*/}


#logBtn:active, #put:active, #modifier:active, #logBtnDeco:active {
	padding-bottom:7px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	top:1px;
}

#logBtn:before {
	background-color:#ebefee;
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	padding:8px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;

	
}

.boite {
	display:inline-block;
	color: rgb(58,119,146);
	background-color: white;
    padding: 5px;
    border-radius: 5px;
    vertical-align: top;
   
}
#actu{
	width:200px;
	height:200px;
}

p{vertical-align: middle;}


.blcRight {
    float: right;
    margin: 40px 165px 20px;
    font-size:15px;
    font-family:SourceSemi;
}


#boutons{
	
	display:inline-block;

}

#logo {
	width :170px;
    margin-top: 10px;
	margin-left:85px;
}

input{
	margin-bottom: 5px;
	margin-top: 5px;
	width:100%;
}

::-webkit-input-placeholder {
   color: rgb(157,198,216);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(157,198,216);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(157,198,216);  
}

:-ms-input-placeholder {  
   color: rgb(157,198,216);  
}

#mdp{
	font-size: 10px;
	
}

#boutonconnexion {
	margin-top:10px;
}


#item{
	
font-family:SourceRegular;
font-size:12px;
margin:0;
padding:0;
width :150px;
height: 150px;	
display: block;
overflow:hidden;
overflow-x: hidden;
overflow-y: auto;
overflow : -moz-scrollbars-vertical;

}

#item li {
	float:left;
	width:150px;
	height:150px;
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	overflow-x: hidden;
	overflow-y: auto;
	overflow : -moz-scrollbars-vertical;
}
.puce{
	width:15px;
	height:16px;
	display : inline-block;
	margin :5px;
	background-color: gray;
	border-radius: 10px;
}
.puce:first-child{
background-color: rgb(245,115,37);
}


#visible, #modifier{
	display : none;
	
}
#test{
	display:inline-block;
}



