body{
	background :#1565C0;
	color :#0D47A1;
	font-family:Arial, Verdana, sans-serif;
	font-size:18px;
}

.active {
	background-color:red;
}

#prs2{
	display:inline-block;
	width :200px;
	height:100px;
	font-size:12px;
	color:#0D47A1;
	margin:10px;
	padding :10px;
	border: 4px solid #90CAF9;
	border-radius : 5px;
	background-color:#64B5F6;

}

#prs2 > h4{
	display :inline-block;
	font-size:18px;
	color:#E3F2FD;

} 